@keyframes action-pop {
  0% {
    transform: scaleX(1) scaleY(1) rotate(var(--spin));
  }
  20%,
  45% {
    transform: scaleX(1.35) scaleY(.1) rotate(var(--spin));
  }
  65% {
    transform: scaleX(.80) scaleY(1.5) rotate(var(--spin));
  }
  80% {
    transform: scaleX(.60) scaleY(.85) rotate(var(--spin));
  }
  100% {
    transform: scaleX(1) scaleY(1) rotate(var(--spin));
  }
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

img {
  --spin: 8deg;
  width: 100px;
  position: absolute;
  animation: action-pop 0.6s cubic-bezier(.4,0,.2,1) forwards;
}

div {
  position: absolute;
  background-color: red;
  z-index: 30;
}
#one{
  top:172px;
  height: 1px;
  width: 100vw;
}

#two{
  bottom:172px;
  height: 1px;
  width: 100vw;
}

#three{
  left:172px;
  width: 1px;
  height: 100vh;
}

#four{
  right:172px;
  width: 1px;
  height: 100vh;
}

p{
  position: absolute;
  left: 0;
}