$peelTime: 3s;

@keyframes action-pop {
  0% {
    transform: scaleX(1) scaleY(1) rotate(var(--spin));
  }
  20%,
  45% {
    transform: scaleX(1.35) scaleY(.1) rotate(var(--spin));
  }
  65% {
    transform: scaleX(.80) scaleY(1.5) rotate(var(--spin));
  }
  80% {
    transform: scaleX(.60) scaleY(.85) rotate(var(--spin));
  }
  100% {
    transform: scaleX(1) scaleY(1) rotate(var(--spin));
  }
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  //background-color: black;
}

@keyframes stretcher {
  0%{
    transform: rotateY(50deg) skew(20deg);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.sticker {
  --spin: 8deg;
  width: var(--size);
  height: var(--size);
  img {
    width: var(--size);
    position: absolute;
    //perspective: 420px;
    //perspective-origin: center left; 
    //transform-style: preserve-3d;
  }
  position: absolute;
  transform: rotate(var(--spin));
  //animation: action-pop 0.6s cubic-bezier(.4,0,.2,1) forwards;
  //animation: stretcher 0.5s ease-out forwards;
}

span{
  background-color: red;
  position: absolute;
}

#one{
  top:172px;
  height: 2px;
  width: 100vw;
}

#two{
  bottom:172px;
  height: 2px;
  width: 100vw;
}

#three{
  left:172px;
  width: 2px;
  height: 100vh;
}

#four{
  right:172px;
  width: 2px;
  height: 100vh;
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes wipe-out-bottom-left {
  from {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
  to {
    clip-path: polygon(-50% 50%, 50% 150%, 50% 150%, -50% 50%);
  }
}

@keyframes wipe-out-right {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}

@keyframes move-peel {
  from {
    right: 100%;
    top: 0%;
  }
  to {
    right: -100%;
    top: 0%;
  }
}

@keyframes opacityBeam {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}



.stickerBack{
  filter: contrast(0.05) brightness(1.8) saturate(2.69);
  z-index: 2;
  transform: scaleX(-1);
  //right: 80%;
  animation: $peelTime cubic-bezier(.25, 1, .30, 1) wipe-out-right both, $peelTime cubic-bezier(.25, 1, .30, 1) move-peel both, $peelTime cubic-bezier(.25, 1, .30, 1) opacityBeam both;
}

.stickerImg{
  animation: $peelTime cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}